{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - EQUIPO{% endblock %}

{% block body %}
    <section class="testimonials1 cid-qN1BirgGxV cid-qN1C0Yle4r mbr-parallax-background" id="testimonials1-w">
        <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
        </div>
        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 align-center">
                    <h2 class="pb-3 mbr-fonts-style display-2">
                        FUNDADORES</h2>
                </div>
            </div>
        </div>

        <div class="container align-center pt-3 mt-2">
            <div class="row media-row">
                {% for fundador in fundadores %}
                    {% include 'equipo/blocks/fundador.html.twig' with {'fundador': fundador} %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="features16 cid-qN1C0Yle4r" id="features16-x">
        <div class="container align-center">
            <h2 class="pb-5 mbr-fonts-style mbr-section-title display-2">
                NUESTROS SOCIOS
            </h2>
        </div>
        <div class="container mb-4">
            {% include 'buscador/buscador.html.twig' with {'buscadorForm': buscadorForm} %}
        </div>
        <div class="container align-center">
            <div class="row media-row">
                {% if pagination is not empty %}
                    {% if categoria is not empty %}
                        <div class="col-12 mb-3">
                            <h4>Filtrado por : <strong>({{ categoria }})</strong></h4>
                        </div>
                    {% endif %}
                    {% for socio in pagination %}
                        {% include 'equipo/blocks/socio.html.twig' with {'socio': socio} %}
                    {% endfor %}
                {% else %}
                    <h3>¡¡Upppps, No tenemos socios de esa categoria!!</h3>
                {% endif %}
            </div>

            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/parallax/jarallax.min.js') }}"></script>
{% endblock %}